<div class="table-responsive">
    <h2><a href="{% url model.Name %}">{{ model.SensorName }}</a></h2>
    <table class="table">
        <thead>
          <tr>
              {% for d in model.Attributes %}
              <th>{{d}}</th>
              {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for sensor in model.Sensors %}
          <tr>
              {% for d in model.Attributes %}
              <td>{{ sensor|get_item:d }}</td>
              {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
