{% extends "sailbot/base.html" %}
{% block content %}

{% include "sailbot/navbar_component.html" with navbar=Navbar only %}

<div class="jumbotron text-center">
    <h1>{{ Model.SensorName }}</h1>
    <p>We specialize in autonomous sail boats</p>
</div>

<div id="about" class="container-fluid">


    <div id="Data">
        {% include "sailbot/sensor_component.html" with model=Model only %}
    </div>

    <div id="Form">
        {% include "sailbot/form_component.html" with model=Model only %}
    </div>

    <div id="History">
        {% include "sailbot/history_component.html" %}
    </div>

</div>
{% endblock content %}
